<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Caesar Result</title>
  </head>
    <header>
      <h1>Result</h1>
    </header>
  <body>
    <section class="main">
      <h2>Encrypted String:</h2>
      <p id="result">
        <%= enc_str %>
      </p>
      <form action="/">
        <input id = "btn" type="submit" value="Try another!">
      </form>
    </section>
  </body>
</html>